<section id="hero">
  <div class="hero-content">
    <h1 class="hero-title">= a você, ≠ de outras</h1>
    <p class="hero-description">A barbearia desenhada para o homem moderno. Tradição na tesoura, inovação na experiência.</p>
    <a href="https://maisumabarbearia.belasis.app/?utm_source=ig&utm_medium=social&utm_content=link_in_bio&fbclid=PAZXh0bgNhZW0CMTEAc3J0YwZhcHBfaWQMMjU2MjgxMDQwNTU4AAGnaYMCGEngJC9nSBHR7amCRjXH8raWHsDSH8l8wQ3BTQBK0_x8STxwZ5BYjzQ_aem_VBwAdQfjWFpVpCwPAnP0bg" class="hero-button">
      <span>Agende um horário</span>
      <span class="material-symbols-rounded hero-button-icon">calendar_add_on</span>
    </a>
  </div>
</section>
