.map-container {
  align-self: center;
  place-self: center;
  width: 100%;
  height: fit-content;
  padding: 16px;
  overflow: hidden !important;
}

iframe {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}
