<section class="quick-contact">

  <a class="card whatsapp" href="https://wa.me/5585999999999" target="_blank">
    <span class="card-icon">
      <i class="fa-brands fa-whatsapp"></i>
    </span>
    <span>WhatsApp</span>
  </a>

  <a class="card instagram" href="https://www.instagram.com/maisumabarbearia/" target="_blank">
    <span class="card-icon">
      <i class="fa-brands fa-instagram"></i>
    </span>
    <span>Instagram</span>
  </a>

  <a class="card facebook" href="https://www.facebook.com/maisumabarbearia" target="_blank">
    <span class="card-icon">
      <i class="fa-brands fa-facebook-f"></i>
    </span>
    <span>Facebook</span>
  </a>
</section>
