<section class="info">
  <h2 class="info-title">Visite a barbearia</h2>

  <div class="cards">

    <div class="info-card">
      <div class="icon">
        <span class="material-symbols-rounded info-card-icon">
          map
        </span>
      </div>
      <div class="main-info">
        <div class="info-text">
          <div class="title">Rua Joaquim Porto, 646. Sala 5</div>
          <div class="description">Centro, Torres, Rio Grande do Sul, Brasil, 95560-000</div>
        </div>
        <a class="info-link" href="https://maps.app.goo.gl/QvqgdsxLGMbLW5en7" target="_blank">
          <span>Abrir no Maps</span>
          <span class="material-symbols-rounded info-link-icon">
            open_in_new
          </span>
        </a>
      </div>
    </div>

    <div class="info-card">
      <div class="icon">
        <span class="material-symbols-rounded info-card-icon">
          schedule
        </span>
      </div>
      <div class="main-info">
        <div class="info-text">
          <div class="title">Horários de atendimento</div>
          <ol class="description">
            <li class="description-item">
              <div class="day">Segunda</div>
              <div class="hour">
                <div class="hour-morning">09:30 - 12:00</div>
                <div class="hour-afternoon">13:30 - 18:30</div>
              </div>
            </li>
            <li class="description-item">
              <div class="day">Terça</div>
              <div class="hour">
                <div class="hour-morning">09:30 - 12:00</div>
                <div class="hour-afternoon">13:30 - 18:30</div>
              </div>
            </li>
            <li class="description-item">
              <div class="day">Quarta</div>
              <div class="hour">
                <div class="hour-morning">09:30 - 12:00</div>
                <div class="hour-afternoon">13:30 - 18:30</div>
              </div>
            </li>
            <li class="description-item">
              <div class="day">Quinta</div>
              <div class="hour">
                <div class="hour-morning">09:30 - 12:00</div>
                <div class="hour-afternoon">13:30 - 19:30</div>
              </div>
            </li>
            <li class="description-item">
              <div class="day">Sexta</div>
              <div class="hour">
                <div class="hour-morning">09:30 - 12:00</div>
                <div class="hour-afternoon">13:30 - 19:30</div>
              </div>
            </li>
            <li class="description-item">
              <div class="day">Sábado</div>
              <div class="hour">
                <div class="hour-morning">09:30 - 12:00</div>
                <div class="hour-afternoon">13:30 - 19:30</div>
              </div>
          </li>
            <li class="description-item">
              <div class="day">Domingo</div>
              <div class="hour">
                <span>Fechado</span>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

</section>
