.banner {
  aspect-ratio: 16 / 9 !important;
  width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
  padding: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) 60%), url("/images/letreiro2.jpg") no-repeat center center/cover;
  margin-top: 16px;

  .banner-title {
    color: #ffffff;
  }

  .banner-description {
    color: #ffffff;
    font-size: 0.75rem;
  }
}
