.app-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  max-width: 768px;
  margin: 0 auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - (var(--header-height) + var(--bootom-tabs-height)));
  overflow-y: auto;
  padding-bottom: 40px;
}
