.app-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  background-color: #0a0a0a;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - (var(--header-height) + var(--bootom-tabs-height)));
  overflow-y: auto;
  padding-bottom: 3.75rem;
}
