<div class="bottom-tabs-content">
  <ul class="bottom-tabs-list">
    @for (link of navigation.links; track link.path) {
      <li>
        <a class="bottom-tabs-link" [routerLink]="link.path" routerLinkActive="active-tab"
           [routerLinkActiveOptions]="{ exact: link.path === '/' }" aria-label="{{ link.ariaLabel }}">

          <span class="material-symbols-rounded bottom-tabs-link-icon">{{ link.icon }}</span>
          <span class="bottom-tabs-link-text">{{ link.label }}</span>
          
        </a>
      </li>
    }
  </ul>
</div>
