/* You can add global styles to this file, and also import other style files */

:root {
  --header-height: 3.5rem;
  --bootom-tabs-height: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
