<section class="portfolio">
  <h2 class="portfolio-title">Portfólio</h2>
  <div class="portfolio-carousel">
    <div class="carousel-track">
      @for (image of images; track image.id) {
        <div class="carousel-slide">
          <img [ngSrc]="image.src" [alt]="image.altText" width="350" height="350" class="carousel-image">
        </div>
      }

      @for (image of images; track 'clone-' + image.id) {
        <div class="carousel-slide">
          <img [ngSrc]="image.src" [alt]="image.altText" width="350" height="350" class="carousel-image">
        </div>
      }
    </div>
  </div>
</section>
